.title {
  font-size: 20px;
  margin-bottom: 24px;
}

.button {
  margin-top: 24px;
}

.error {
  font-size: 14px;
  color: var(--color-secondary);
  display: inline-block;
}

.errorGlobal {
  margin-top: 24px;
}
