.title {
  font-size: 20px;
  margin-bottom: 24px;
}

.input {
  margin-top: 6px;
  box-shadow: 2px 2px 0 0 var(--color-basic);
  border: 2px solid var(--color-basic);
  padding: 12px;
  display: block;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.button {
  margin-top: 24px;
}

.field {
  margin-top: 16px;
}

.error {
  font-size: 14px;
  color: var(--color-secondary);
  display: inline-block;
}

.errorField {
  margin-top: 6px;
}

.errorGlobal {
  margin-top: 24px;
}
