.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
}

.fullscreenButton {
  position: absolute;
  top: 12px;
  right: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  z-index: 10;
}
