.title {
  font-size: 20px;
  margin-bottom: 24px;
}

.fileInput {
  display: none;
}

.button {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 2px 2px 0 0 var(--color-basic);
  border: 2px solid var(--color-basic);
  transition: all 0.1s ease-in;
  display: inline-block;
}

.button:hover,
.button:active {
  background-color: var(--color-tertiary);
  color: var(--color-basic);
}

.file {
  margin-left: 16px;
}

.uploadButton {
  margin-top: 16px;
}

.error {
  color: var(--color-secondary);
  font-size: 14px;
  margin-top: 12px;
}
