@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono Bold';
  src: url('./assets//fonts/RobotoMono-Bold.ttf') format('truetype');
}

:root {
  font-family: 'Inter', 'sans-serif';

  --color-basic: rgb(27, 27, 27);
  --color-primary: rgba(105, 155, 247);
  --color-secondary: rgba(255, 133, 119);
  --color-tertiary: rgba(245, 192, 0);
  --color-dropdown: rgba(27, 27, 27, 0.8);
  --color-white: rgb(255, 255, 255);
}
