.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-white);
  padding: 18px 32px;
  box-shadow: 5px 0 0 0 var(--color-basic);
  position: absolute;
  width: calc(100% - 24px);
  z-index: 1;
  margin: 12px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 600;
  font-family: 'RobotoMono-Bold', monospace;
  align-items: center;
  cursor: pointer;
  color: var(--color-basic);
  text-decoration: none;
}

.logo {
  background: url(../../assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 122px;
  height: 43px;
}

.items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 33px;
  margin-left: 47px;
}

.item {
  color: var(--color-basic);
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}

.bell {
  background: url(../../assets/images/bell.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 19px;
  cursor: pointer;
}

.altBell{
  background-image: url(../../assets/images/altTheme/bell-alt.png);
}

.iconProfile {
  background: url(../../assets/images/user-circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 19px;
}

.altProfileIcon{
  background-image: url(../../assets/images/altTheme/user-circle-alt.png);
}

.clicker {
  background: url(../../assets/images/switch-off.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 19px;
  cursor: pointer;
}

.altClicker {
  background-image: url(../../assets/images/switch-on.svg);
}

.iconGeolocation {
  background: url(../../assets/images/geolocation.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
