.container {
  width: 500px;
  padding: 12px 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.button {
  margin-top: 12px;
}

.link {
  margin-top: 8px;
  padding: 0;
  text-decoration: none;
  color: var(--color-basic);
}

.additionalText{
  margin: 10px 0 0 0;
  padding: 0;
  color: var(--color-basic);
}

.yandexButton {
  margin: 10px auto 0 auto;
  padding: 0;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 8px;
  background: url('/yandex_image.svg') center no-repeat;
}
