.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.backdrop {
  background-color: var(--color-dropdown);
  height: 100vh;
  width: 100vw;
}

.card {
  box-shadow: 2px 2px 0 0 var(--color-basic);
  border: 2px solid var(--color-basic);
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}
